

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
  }

  /*Week 5-I added padding to the menu in a new sentences because the other one there is footer too.*/
nav {
    padding: 25px;
}
  

a {
    color: white;
    margin: 40px;
    /*Week 4-I added a relative measurement. This adjust the width of the navigation links according to the width of the device*/
    font-size: 1.5em;
    /*Week 5-I added padding to the menu*/
    padding: 25px;
  }

  a:hover {
    background-color: white;
    color: steelblue;
}

  h1 {
    color: steelblue;
    text-align: center;
     /*Week 4-I added a margin to the top and botton of 50 and margin 0 to left aand right sides*/
    margin: 50px 0;
  }

  img {
    width: 800px;
    border: 4px solid steelblue;
    /*Week 4-I added a relative measurement. This adjust the width of the images according to the width of the device*/
    width: 80%;
    /*Week 4-I added a newway to display the image as a block, and also, a margin to center it*/
    display: block;
    margin: 0 auto;
    
  }
  

  p {
    padding: 100px;
     /*Week 4-I added a relative measurement. This adjust the width of the paragraph according to the width of the device*/
    width: 80%;
  }

  /*Week 4-I added a border in block elements: p,h,*, and after I put in comment/
  /* {
    border: 2px solid blue;
}*/

/* week 3-I added a new aspect of letter to this section*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
    /*W4-"Margin 0 give the top and bottom margin and the auto will automatically place an equal amount of space on the right and left to center it.*/
    margin: 0 auto;
    /*W4-"text-align" center center the content o contenido inside the block*/
    text-align: center;
}


/* w3-I added a indicative that showing an active page (that is "home page"), in the nav or menu, where the user are on*/
#active {
  background-color: white;
  color: steelblue;
}

/*w4- I put this part in comment because I add the fotter join to nav in orde rto not repeat  CSS
footer {
    background-color: steelblue;
    color: white;
    (Week 4-I added "text-alig" to center the block elements: p,h,)
    text-align: center;
  }*/

  footer p {
    font-size: 20px;
    margin: 20px auto;
     /*Week 5-I added a padding to the footer*/
    padding: 25px;
}

body {
  margin: 0
}