@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&family=Poppins&display=swap');


/* Setting background colors*/
body {
    background-color: #e2eaed; 
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    /* Simple Reset*/
    margin: 0;
    padding: 0;
}

#content {
    /*Setting a width*/
    max-width: 1600px;
    /* Centering the page*/
    margin: 0 auto;
    
  }

 


nav a {
    text-align: center;
    color: #000000;
    /* Take off or add the default underline of links*/
    text-decoration: none;
    /* Adding Padding*/
    padding: 35px;
}

/* Header Grid*/
nav {
    display: flex;
    justify-content: space-around;
}

/* Foreground colors*/
nav a:hover {
    background-color: #3782da;
    color: #ffffff;

}

/* Adding Padding*/
#logo_link {
    padding-top: 5px;
    /* Header Grid*/
    justify-self: center;
    align-self: center;
}


.logo {
    width: 100px;
}

header {
    background-color:rgb(222, 146, 244, .8);
    /* Header Grid*/
    display: grid;
    grid-template-columns: 150px auto;
}






/*  Hero Grid */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    /* Overlap hero with navigation */
    margin-top: -100px;
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    /* Overlap hero with navigation */
    z-index: -1;
}

.home-title, .studyengineering-title, .aboutme-title {
    
    font-family: Laila, Georgia , Garamond;
    font-size: 2em;
    margin-top: 10px;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
    /* Overlap hero with navigation */
    margin-top: 50px;

    
}




#hero-msg h1 {
    text-align: center;
    color: #000000;
    ;
    

}


main section {
    text-align: center;

}

main img {
    box-sizing: border-box;
 }

 .home-grid, .studyengineering-grid, .aboutme-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-gap: 20px;
    align-items: center;

}

.introduction{
    grid-column: 2/6;
    grid-row: 1/4; 
    justify-self: center;
    align-self: center;
    margin-top: -100px;
    margin-right: 40px;
 
    
}

.introduction-img{
    width: 100%;
    box-shadow: 5px 5px 10px #050505; 
    grid-column: 6/10;
    grid-row: 1/4;
    margin-top: -100px;
    margin-left: 20px;
    

    
}

#background{
    background-color: #3782da;
    height: 790px;
    grid-column: 1/11;
    grid-row: 5/12;
}

.helpyou {
    grid-column: 2/6;
    grid-row: 6/9; 
    justify-self: center;
    align-self: center;
    margin-right: 80px;
    color: white;
   
    
}

.sadstudent-img{
    grid-column: 7/10;
    grid-row: 5/8; 
    width: 100%;
    box-shadow: 5px 5px 10px #050505; 
    margin-top: 70px;
    margin-left: 20px;
    
    
}

.happystudent-img{
    grid-column: 6/9;
    grid-row: 7/10;
    width: 100%;
    box-shadow: 5px 5px 10px #050505; 
    margin-top: 70px;
    margin-right: 250px;
    z-index: 1;
    
    
}


footer{
    background-color: #5E6E7D; 
    color :#ffffff;
    /*  Adding Padding*/
    padding: 25px 50px;
    /* Adding Margins*/
    margin-top: 200px;
    /* 5.Footer Layout*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a{
    color :#ffffff;
    text-decoration: none;
}
footer a:hover{
    color :#ffffff;
}

footer p{
    font-size: 1.2em;
}

 
footer p a:hover {
    text-decoration: underline;
}    

footer .social img{
    /* Adding Padding*/
    padding-top: 15px;
}


/*CSS of "Study Engineering" page"*/ 
.studyengineering-title, .aboutme-title{
    margin-top: 30px;
}



.study-img{
    width: 100%;
    box-shadow: 5px 5px 10px #050505; 
    grid-column: 2/6;
    grid-row: 1/5;
    margin-right: 30px;
    margin-top: -30px;
}

.study-msg{

    background-color:#de92f4; 
    /*  Adding Padding*/
   padding: 35px;
   grid-column: 5/10;
   grid-row: 2/3;
   z-index: 1;
   /* Enhancements*/
   box-shadow: 5px 5px 10px #050505;
   margin-left: 20px;
   
}



#studymethods-background {
    background-color: #3782da;
    height: 500px;
    grid-column: 1/11;
    grid-row: 5/6;
}

.studymethods{
    grid-column: 2/10;
    grid-row: 5/8;
    justify-self: center;
    align-self: center;
    color:#ffffff;
    margin-top: -30px;
}



.habittime{
    grid-column: 2/10;
    grid-row: 8/11; 
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}



.video-player{
    margin: 30px 20px;
    width: 460px; 
    height: 215px; 
    border: 0;

}

/*CSS of About me page */
.bioengineering-section {
    grid-column: 2/4;
    grid-row: 1/5; 
    justify-self: center;
    align-self: center;
    margin-top: -20px; 
   
}



.programming-section{
    grid-column: 8/10;
    grid-row: 1/5; 
    justify-self: center;
    align-self: center;
    margin-top: -20px;
    
}


#selftaught-background{
    background-color: #de92f4;
    height: 500px;
    grid-column: 2/8;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #050505; 
}

.selftaught-msg{
    grid-column: 2/6;
    grid-row: 5/8; 
    justify-self: center;
    align-self: center;
    margin: 10px 30px;
}

.studybooks-img{
    grid-column: 6/10;
    grid-row: 5/8; 
    width: 100%;
    box-shadow: 5px 5px 10px #050505; 
    margin: 20px 20px;
}

.manicurebusiness-img{
    grid-column: 2/6;
    grid-row: 8/11; 
    width: 100%;
    box-shadow: 5px 5px 10px #050505;   
    margin: 20px 30px;
}

.manicurebusiness-msg{
    grid-column: 6/10;
    grid-row: 10/11; 
    justify-self: center;
    align-self: center;
    margin: 20px 10px;
    margin-left: 60px;
  
 
    
}

/*CSS of "About me" page using a simple component:Slideshow / Carousel, as part of the W12 Assignment: A Web Component*/
* {box-sizing: border-box}
body {font-family: Poppins, Helvetica, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  grid-column: 4/8;
    grid-row: 1/5; 
    justify-self: center;
    align-self: center;
    margin-top: 20px;

}

.melystudent-img, .melycongress-img{
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #8ab7dd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}*/

.dots {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #8ab7dd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    text-align: center;
    grid-column: 4/8;
    grid-row: 4/5;
    z-index: 3;
    position: relative;
}

.active, .dots:hover {
  background-color: #3782da;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */


@media screen and (max-width: 900px) {

    .prev, .next,.text {font-size: 8px}

    
    #hero, .home-grid, .aboutme-grid, .studyengineering-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
       
    }

    
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: -50px;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #3782da;
    }
    
    #background {
        display: none;
    }
    .introduction, .introduction-img, .helpyou, .sadstudent-img, .happystudent-img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
        display: block;
    }

}